/* 선택자(selector) */
/* Cascading Style Sheet */
/*div는 #앞에 생략가능*/
#header-center {
  margin: 0 auto;
  width: 1130px;
}
/* 픽셀은 상대적인 개념이다 모니터의 해상도에 따라 달라진다 */

#header-search a {
  text-decoration: none;
}

#header-search h1 {
  width: 198px;
  height: 48px;
  display: inline-block;
  /* background-image: url(./sp_search.png);
  background-position: -4px -10px */
  /* background-repeat: no-repeat; 이미지가 반복하지 않도록*/
  /* 한줄로 줄일 수 있다  */
  background: url(./sp_search.png) -4px -4px no-repeat;
}
#header-search h1 span {
  display: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

#header-search fieldset {
  margin-left: 20px;
  padding: 12px 0px 12px 10px;
  /* 위오아래왼 시계방향 */
  width: 521px;
  height: 49;
  display: inline-block;
  border: 2px solid #03cf5d;
  box-sizing: border-box;
}
